/* App.css */
body {
margin: 0;
padding: 0;
font-family: 'Segoe UI', sans-serif;
background-color: #121212;
color: white;
}

.App {
padding: 20px;
}

.above-navbar {
margin-top: 70px;
}

/* === Contact Section Custom Styling === */
.contact-section a {
  text-decoration: none;
}

.contact-section a:hover {
  text-decoration: underline;
}

.icon-custom {
  color: #48A3C6;
  
}
.contact-heading {
/* display: inline-block; */
border-bottom: 2px solid #48A3C6;
padding-bottom: 50px;


}
.custom-muted {
color: #999999;
}